PORT=8085
DATABASE_URL=postgres://postgres_user111:password123!!!@postgres:5432/bank_db?sslmode=disable
REDIS_URL=redis:6379
JWT_SECRET=super-secret-bank-jwt-key-change-in-prod-123456
INTERNAL_MCP_SECRET=nova-internal-mcp-secret-key-392810
ENVIRONMENT=development
RATE_LIMIT_REQ=60
RATE_LIMIT_WIN=60

